<main class="container text-center w-75">
    <div>
        <h4>Por favor, introduzca su email,<br>
y le enviaremos un enlace para crear una nueva contraseña</h4>
    </div>
    <div>
        <form id="passwordRecoveryForm" class="form-group w-100" action="" method="POST">
            <label for="email">Ingresa tu email</label>
            <input id="emailInput" type="email" name="email" placeholder="ejemplo@email.com" class="form-control" required>
            <input type="submit" value="Enviar" class="btn btn-outline-dark w-100 mt-3">
        </form>
    </div>
</main>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script async src="js/passwordrecovery.js"></script>